/* Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 0.5fr 800px 300px 300px;
    grid-template-areas: 
            "title title title title"
            "map map map map"
            "scatter scatter line line"
            "scatter scatter line line";
    /* width: 100vw;
    height: 100vh; */
}

.masthead{
    grid-area: title;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

.view1{
    grid-area: map;
    /* background: royalblue; */
}

.view2{
    grid-area: scatter;
}

.view3{
    grid-area: line;
}

/* Map styling */

.district {
    fill: rgb(121, 121, 121);
    fill-opacity:0.5;
    stroke-width: 0.5px;
    stroke: rgb(245, 245, 245);
}

.state {
    fill: rgb(121, 121, 121);
    fill-opacity: 0.5;
    stroke-width: 1px;
    stroke: rgb(245, 245, 245);
}

.active{
     visibility:hidden;
}

.hidden{
    visibility:hidden;
}

.state-border {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(245, 245, 245);
}

.district-border {
    fill: none;
    stroke-width: 0.5px;
    stroke: rgb(245, 245, 245);
}

.state:hover, .district:hover{
    fill-opacity: 0.2;
}

/* Zoom styling */
.background {
    fill: none;
    pointer-events: all;
  }
  
/* .feature {
    fill: #ccc;
    cursor: pointer;
}
  
.feature.active {
    fill: orange;
} */
  