/* Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 0.5fr 600px 300px 300px;
    grid-template-areas: 
            "title title title title"
            "map map map map"
            "scatter scatter line line"
            "scatter scatter line line";
    /* width: 100vw;
    height: 100vh; */
}

.masthead{
    grid-area: title;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

.view1{
    grid-area: map;
    /* background: royalblue; */
}

.view2{
    grid-area: scatter;
}

.view3{
    grid-area: line;
}