 /*Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 0.5fr 800px 50px 300px 300px;
    grid-template-areas: 
            "title title title title"
            "map map map map"
            "control control control control"
            "scatter scatter lineC lineC"
            "scatter scatter lineC lineC";
    /* width: 100vw;
    height: 100vh; */
}

.masthead{
    grid-area: title;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

.view1{
    grid-area: map;
    background: rgba(65, 105, 225, 0.034);
}

.view2{
    grid-area: scatter;
}

.view3{
    grid-area: lineC;
}

/* Map styling */

.district {
    stroke-width: 0.2px;
    stroke: rgb(245, 245, 245);
}

.state {
    fill: rgba(121, 121, 121, 0);
    stroke-width: 1px;
    stroke: rgb(245, 245, 245);
}

.active{
     visibility:hidden;
}

.hidden{
    visibility:hidden;
}

.state-border {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(245, 245, 245);
}

.district-border {
    fill: none;
    stroke-width: 0.5px;
    stroke: rgb(245, 245, 245);
}

.state:hover{
    fill: rgba(221, 221, 221, 0.452);
}

.district:hover{
    fill:  rgba(221, 221, 221, 0.452);
}

.caption{
    font-size: 20px;
    font-weight: lighter;
    fill: grey;
}

/* Zoom styling */
.background {
    fill: none;
    pointer-events: all;
  }
  
/* .feature {
    fill: #ccc;
    cursor: pointer;
}
  
.feature.active {
    fill: orange;
} */

/* map tooltip styling */

#mtooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.959);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
    font-family: "Avenir Next";
}

#mtooltip2 {
    position: absolute;
    text-align: center;
    width: 325px;
    height: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    stroke: rgb(180, 180, 180);
    border-radius: 10px;
    pointer-events: none;
    font-family: "Avenir Next";
}

#mtooltip h3{
    margin: auto;
    font-size: 30px;
    font-weight:bolder;
    color: #484b5a;
}

#mtooltip2 h3{
    margin: auto;
    font-size: 45px;
    font-weight:bolder;
    color: #484b5a;
}

#mtooltip p{
    margin: auto;
    font-size: 15px;
    font-weight: bolder;
    color: #81849a;
}

#mtooltip2 p{
    margin: auto;
    font-size: 25px;
    font-weight: lighter;
    color: #81849a;
}

#donutSVG{
    /* visibility: hidden; */
}
/* End Map styling */


/* Styling for line chart */

div.line-tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 28px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

path.unselected-path {
    stroke-width: 1.5;
    stroke: #8182a5;
    fill: none;
    opacity: 0.25;
}

/* I was just experimenting with hover-styling */

path.unselected-path:hover {
    stroke-width: 1.5;
    stroke: rgb(61, 80, 251);
    opacity: 1;
    transition: 0.3s;
}

/* End Styling for line chart */
  

/* Styling for bubble chart */

#scat-view {
    /*text-align: center;*/
}

.activeYear-background {
    font-size: 3em;
    font-family: sans-serif;
    fill: #d3d3d3;
}

.bubbles:hover {
    stroke: black;
    stroke-width: 3;
}

.legend {
    font-family: sans-serif;
    font-size: 0.8em;
}

#bubbleTooltip {
    position:absolute;
    font-family: sans-serif;
    font-size:  0.8em;
    padding: 10px 10px 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 80%;
    background-color: #fad9a7;
}
/* End styling for bubble chart 